# Ignore compiled files
*.o

# Ignore the executable
Main

# Ignore files currently open in vim
*.swp

# Mac system files
*.DS_Store

# Custom Neural Network saves
*.nn

# CSV Files
*.csv

# Ignore mnist data files
mnist-data
